/**
 * Grid
 */

header {
  width: 100%;
  padding: 4rem 2rem;
  @media only screen and (min-width: $grid-breakpoint-md){
    padding: 4rem 2rem;
  }
  @media only screen and (min-width: $grid-breakpoint-lg){
    padding: 6rem 2rem;
  }
}

.grid,
footer {
  width: 100%;
  padding: 2rem 1rem;
  @media only screen and (min-width: $grid-breakpoint-md){
    padding: 4rem 2rem;
  }
  @media only screen and (min-width: $grid-breakpoint-lg){
    padding: 6rem 2rem;
  }
}

header > *,
footer > *,
.single {
  margin: 0 auto;
  max-width: $grid-single-max-width;
}

footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.grid {
  margin: 0 auto;
  border-top: $grid-border-top;
  body &:first-of-type {
    border-top: none;
  } 
  text-align: left;
  &:before,
  &:after {
    content: " ";
    display: table
  }
  &:after {
    clear: both;
  }

}

.grid--cols,
.grid--cols--inner {
  @extend .grid;
  text-align: center;
}

/*
Remove the top/bottom padding, 
because the parent grid has enough
*/
.grid--cols--inner {
  padding-top: 0;
  padding-bottom: 0;
}

.col { 
  width: 100%;
  text-align: center;
  float: none;
  margin-left: 0;
  margin-right: 0;
  border-collapse: collapse !important;

  @media only screen and (min-width: $grid-breakpoint-md){
    
    float: left;
    width: $grid-col-width;
    
    .grid &:first-of-type {
      margin-left: $grid-col-gutter-out;
      margin-right: $grid-col-gutter-in;
    }
    .grid &:last-of-type {
      margin-left: 0;
      margin-right: $grid-col-gutter-out;
    }

  }

}

.align--left { text-align: left; }
.align--center { text-align: center; }
