/**
 * Type
 */

h1,
h2,
h3 {
  margin: $header-margin;
  font-family: $header-font-family;
  letter-spacing: $header-letter-spacing;
  line-height: $header-line-height;
}

h1 { 
  font-size: $h1-font-size-m: 2rem;    
  @media only screen and (min-width: $grid-breakpoint-md){ 
    font-size: $h1-font-size; 
  } 
}
h2 { 
  font-size: $h2-font-size-m: 1.5rem;  
  @media only screen and (min-width: $grid-breakpoint-md){ 
    font-size: $h2-font-size; 
  } 
}
h3 { 
  font-size: $h3-font-size-m: 1.25rem; 
  @media only screen and (min-width: $grid-breakpoint-md){ 
    font-size: $h3-font-size; 
  } 
}

/*

@media only screen and (min-width: $grid-breakpoint-md){}

$h1-font-size-m: 2rem;
$h2-font-size-m: 1.5rem;
$h3-font-size-m: 1.25rem;
*/

p {
  margin-top: 0;
  margin-bottom: $p-margin-bottom;
}

ul,
ol {
  margin-left: $lists-margin-left-sm;

  @media only screen and (min-width: $grid-breakpoint-md){
    font-size: $lists-margin-left;
  }

}

li {
  font-size: 1rem; 
  line-height: $base-line-height;
  font-weight: normal;
}

a {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: $base-link-text-decoration;
  cursor: pointer;
  color: $base-link-color;

  &:visited {
    color: $base-link-color-visited;
  }
  &:hover,
  &:active,
  &:focus {
    color: $base-link-color-hover;
    text-decoration: $base-link-text-decoration-hover;
  }

}

em {
  font-weight: bold;
}
